// Cores
$background-color: #f5f6fa;
$header-color: #182C61;
$button-color: #44bd32;
$button-hover-color: #4cd137;
$text-color: #fff;

// Fontes
$font-family: Roboto, sans-serif;

// Espaçamentos
$padding-default: 16px 0;
$padding-section: 56px 0;
$padding-button: 8px 0;
$margin-default: 8px;
$margin-large: 32px;

// Tamanhos
$max-width-container: 1024px;
$border-radius: 16px;
$border-radius-small: 8px;